a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4a6c0c45 a { text-decoration: none; }
#menu_4a6c0c45_pane { background-color: #3A4B3F; border: 1px solid #3A4B3F; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4a6c0c45_hr { background-color: #3A4B3F; height: 1px; border: none; }
#menu_4a6c0c45_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4a6c0c45_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4a6c0c45_entry:hover span { color:#FFFFFF !important; }
		.menu_4a6c0c45_mainMenuEntry { text-align: center; }
		.menu_4a6c0c45_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_4a6c0c45_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_4a6c0c45 .mobileEntry { display: none; } 
		#menu_4a6c0c45 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_4a6c0c45 .mobileEntry { display: block; } 
			#menu_4a6c0c45 .normalEntry { display: none; } 
		}
#menu_30818d64 a { text-decoration: none; }
#menu_30818d64_pane { background-color: #3A4B3F; border: 1px solid #3A4B3F; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_30818d64_hr { background-color: #3A4B3F; height: 1px; border: none; }
#menu_30818d64_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_30818d64_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_30818d64_entry:hover span { color:#FFFFFF !important; }
		.menu_30818d64_mainMenuEntry { text-align: center; }
		.menu_30818d64_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_30818d64_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_30818d64 .mobileEntry { display: none; } 
		#menu_30818d64 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_30818d64 .mobileEntry { display: block; } 
			#menu_30818d64 .normalEntry { display: none; } 
		}
body { background-color:#B2B3B4; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_46078edb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#FFFFFF;  }
#container_69b3e802 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; min-width:200px; background:none;  }
#container_69b3e802_padding { margin: 10px; display: block;  }
#text_492a0a13 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:20pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.392157);  }
.textstyle4 { font-size:13pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_455adee5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; max-width:1200px; background-color:#393E3B;  }
#container_455adee5_padding { margin: 10px; display: block;  }
#menu_30818d64 { vertical-align: bottom; position:relative; display: inline-block; width:402px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:100px; height:34px; left:210px;  }
.menustyle4 { position:absolute; width:100px; height:34px; left:310px;  }
.textstyle7 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_44235dba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:270px; max-width:1200px; background-color:#FFFFFF; background-image: url(rc_images/garden.jpg); background-position:center left; background-size:cover;  }
#container_44235dba_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6380ab8d { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:460px; background:none;  }
#container_6380ab8d_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 450px)
{
		#menu_30818d64 { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_492a0a13 * span { font-size:14pt;  }
}
@media only screen and (max-width: 450px)
{
		#menu_4a6c0c45 { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_1354b0f * span { font-size:14pt;  }
}
